
<div class="col-md-6">
    <div class="container">
        <h2>Get in Touch!</h2>
        <ul>
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                Foodies,
                Kolhapur,
                MH - 416106
            </li>
            <li>Get in touch with us <a>+91 9876543210</a> </li>
            <li><a href="#">Foodies@gmail.com</a></li>
            @*<email address="Foodies@gmail.com" content="Mail us"></email>*@

        </ul>
        <h3>Any Queries?</h3>
        <h5> Write Here</h5>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Query/Suggestions</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Suggestion" rows="3"></textarea>
            </div>
        </form>
    </div>
</div>